---
layout: tv-layout
title: Shortform Prototype
---

<div class="container homepage">
  <div class="container-inner">

    {% include _slices/368px-carousel.html                data='proto-editorial-highlights'  title='iPlayer highlights' %}
    {% include _slices/271px-carousel.html                data='proto-most-popular'          title='Most popular' %}
    {% include _slices/271px-carousel-variant.html        data='must-see-telly'              title='Must see telly' %}
    {% include _slices/271px-carousel-variant.html        data='things-not-to-say'           title='Things not to say' %}
    {% include _slices/271px-carousel.html                data='proto-drama'                 title='Drama' %}
    {% include _slices/271px-carousel-variant-first.html  data='proto-comedy'                title='Comedy' %}
    {% include _slices/271px-app-footer.html %}

  </div>
</div>

<div class="container player" data-id="proto-comedy">

  <div class="video-overlay" style="position: absolute; width: 1280px; height: 720px; background: url('{{ site.baseurl }}/img/funny-talking-animals-overlay.png');"></div>

  <video id="proto-comedy" width="1920" height="1080" preload="auto">
    <source type="video/mp4" src="video/funny-talking-animals_1.mp4" />
    <source type="video/webm" src="video/funny-talking-animals_1.webm" />
  </video>

  {% include player-controls.html %}

</div>

<div class="container player" data-id="must-see-telly">

  <div class="video-overlay" style="position: absolute; width: 1280px; height: 720px; background: url('{{ site.baseurl }}/img/this-country-overlay.png');"></div>

  <video id="must-see-telly" width="1920" height="1080" preload="auto">
    <source type="video/mp4" src="video/kurtan-on-tinder.mp4" />
    <source type="video/webm" src="video/kurtan-on-tinder.webm" />
  </video>

  {% include player-controls.html %}

</div>

<div class="container player" data-id="things-not-to-say">

  <div class="video-overlay" style="position: absolute; width: 1280px; height: 720px; background: url('{{ site.baseurl }}/img/things-not-to-say-overlay.png');"></div>

  <video id="things-not-to-say" width="1920" height="1080" preload="auto">
    <source type="video/mp4" src="video/tnts-essex-boys-girls.mp4" />
    <source type="video/webm" src="video/tnts-essex-boys-girls.webm" />
  </video>

  {% include player-controls.html %}

</div>
