---
layout: tv-layout
title: Carousel variant
---

<div class="container homepage">
  <div class="container-inner">

    {% include _slices/368px-carousel.html      data='proto-editorial-highlights'  title='iPlayer highlights' %}
    {% include _slices/271px-carousel.html      data='proto-most-popular'          title='Most popular' %}
    {% include _slices/271px-carousel-variant.html      data='must-see-telly'              title='Must see telly' %}
    {% include _slices/271px-carousel-variant.html      data='things-not-to-say'           title='Things not to say' %}
    {% include _slices/271px-carousel.html      data='proto-drama'                 title='Drama' %}
    {% include _slices/271px-carousel.html      data='proto-comedy'                title='Comedy' %}

    {% include _slices/271px-app-footer.html %}

  </div>
</div>

<div class="container player" data-id="proto-comedy">

  <div class="video-overlay" style="position: absolute; width: 1280px; height: 720px; background: url('{{ site.baseurl }}/img/funny-talking-animals-overlay.png');"></div>

  <video id="proto-comedy" width="1920" height="1080" preload="auto">
  <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
    <source type="video/mp4" src="video/funny-talking-animals_1.mp4" />
    <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
    <source type="video/webm" src="video/funny-talking-animals_1.webm" />
     <!-- M4V for Apple -->
    <!-- <source type="video/mp4" src="video/funny-talking-animals_1.m4v" /> -->
    <!-- Ogg/Vorbis for older Firefox and Opera versions -->
    <!-- <source type="video/ogg" src="video/funny-talking-animals_1.ogv" /> -->
  </video>

  <div class="content-wrapper play"></div>

</div>

<div class="container player" data-id="must-see-telly">

  <div class="video-overlay" style="position: absolute; width: 1280px; height: 720px; background: url('{{ site.baseurl }}/img/this-country-overlay.png');"></div>

  <video id="must-see-telly" width="1920" height="1080" preload="auto">
  <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
    <source type="video/mp4" src="video/kurtan-on-tinder.mp4" />
    <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
    <source type="video/webm" src="video/kurtan-on-tinder.webm" />
     <!-- M4V for Apple -->
    <!-- <source type="video/mp4" src="video/funny-talking-animals_1.m4v" /> -->
    <!-- Ogg/Vorbis for older Firefox and Opera versions -->
    <!-- <source type="video/ogg" src="video/funny-talking-animals_1.ogv" /> -->
  </video>

  <div class="content-wrapper play"></div>

</div>

<div class="container player" data-id="things-not-to-say">

  <div class="video-overlay" style="position: absolute; width: 1280px; height: 720px; background: url('{{ site.baseurl }}/img/things-not-to-say-overlay.png');"></div>

  <video id="things-not-to-say" width="1920" height="1080" preload="auto">
  <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
    <source type="video/mp4" src="video/tnts-essex-boys-girls.mp4" />
    <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
    <source type="video/webm" src="video/tnts-essex-boys-girls.webm" />
     <!-- M4V for Apple -->
    <!-- <source type="video/mp4" src="video/funny-talking-animals_1.m4v" /> -->
    <!-- Ogg/Vorbis for older Firefox and Opera versions -->
    <!-- <source type="video/ogg" src="video/funny-talking-animals_1.ogv" /> -->
  </video>

  <div class="content-wrapper play"></div>

</div>


<div class="container onwardJourney" data-id="proto-high-priority">
  <div class="container-grid">

      {% include 271px-endless-grid.html data='proto-high-priority' title='Comedy Box Sets from BBC' %}
      {% include 271px-grid-back-to.html %}

  </div>
</div>
